
body { background-image : url("../images/neige.jpg");
    background-attachment :  fixed;
    background-repeat : no-repeat;
    background-size : cover ; }
.container{
background-color: rgba(0, 0, 0, 0.1)
}
.form-result{ width: 100%;  padding-right: 15px;  padding-left: 15px; height:250px; }
textarea{
overflow: hidden;
}
img, #map { max-width: 100%;height: auto;max-height : 100%; }
header
{
background: url('../images/separateur.png') repeat-x bottom;
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.jumbotron{
font-size: 1.2em;
}
#question-reponse{
background : white;
height:auto;
box-shadow: 6px 6px 6px black inset;
}


#question_chargement,#question_chargement2{
display: none;
}
#titre{
text-shadow: 2px 2px 4px black;
}
a{
color: blue;
        }