<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Papy Bot.">
    <title>LesitedeGrandPyBot</title>
</head>
<body>
<p>Bonjour, je suis papy robot, pose moi ta demande d adresse sous la forme :</br> Salut GrandPy ! Est-ce que tu connais l adresse de ... '</p>
    <form>
        <div class="form-group">
            <label for="champ"><strong>Enter your question:</strong></label>
            <textarea id="champ"  ></textarea>
            <button type="submit" id="question" >Envoyer question</button></br>
        </div>
    </form>
    <p id="result">  </p>
    <p id="result1">  </p>
    <p id="result2"> </p>
    <div id="map">
			<!-- Ici s'affichera la carte -->
    </div>
     <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/affichage.js') }}"></script>
    <!-- sript clé d'utilisation de l' API Place de googlemaps-->
    <!--script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu-GCUJE1l_rVUxe0Tk0c5DXdNXnM94Oo&callback=initMap"-->
    <!--type="text/javascript"></script-->
</body>
</html>